/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
*/

body {
  background: url(../waterfall.jpg) no-repeat top center;
  background-size: cover;
  overflow: hidden;
  color: white;
  font-family: 'Lato', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 30px 50px;
  float: right;
  font-size: 1.5em;
}

a:hover {
  color: orange;
}

header {
  background: rgba(30,30,30,0.9);
  height: 75px;
}

nav {
}

#splash {
  max-width: 600px;
  margin: 200px auto;
  font-size: 1.5em;
  color: black;
  text-align: center;
  padding: 30px;
  background: rgba(255,255,255,0.5);
}

form  {
  border: 1px solid black;
  height: 200px;
  width: 600px;
  margin: 0 auto;
  background: white;
}

input[type="text"] {
  width: 300px;
  height: 70px;
  margin: 15px 20px;
}

input[type="submit"], input[type="button"] {
  display: block;
  margin: 15px 20px;
  font-size: 1em;
  background: steelblue;
  color: white;
}

.error {
  color: red;
  text-align: center;
}
