<div class="container">
  <div id="user_profile">
  <h1>Lil-Twitter</h1>

  <% if current_user == @user %>
    <form action="/" method="POST">
      <input type="text" name="tweet[content]" placeholder="Tweet your thoughts here!">
      <input type="submit" value="Tweet!">
    </form>
  <% end %>
  </div>
  <% @user.tweets.each do |tweet| %>
    <p><%= tweet  %></p>
  <% end %>
</div>

<!-- If user is signed in, display all their tweets -->
<!-- this current_user will be implemented in the future -->
