
<form action="/sessions" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Login">
  <a href="/">
    <input type="button" value="Back">
  </a>
  <div class="error">
    <p>
      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </p>
  </div>
</form>
