<div class="container">
  <div id="splash">
  <h1>Welcome to lil-Twitter</h1>
  <h2>Connect with friends!</h2>
  <a href="/users/new"><button>Register</button></a>
  <a href="/login"><button>Login</button></a>




  </div>
</div>
