<div class="container">
  <header>
    <nav>
      <a href="/users/new">Register</a>
      <a href="/login">Login</a>
    </nav>
  </header>

  <div id="splash">
    <h1>Welcome to lil-Twitter</h1>
    <h2>Connect with friends!</h2>
  </div>
</div>
